<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
       <body>
            <div class="container">        
                    <ul class="nav">                          
                           <li class="nav-item">
                               <a class="nav-link active" aria-current="page" href="dashboard">View DashBoard</a>
                          </li>
                          <li class="nav-item">
                               <a class="nav-link" href="view-enquiries">View Enquiries</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="logout">Logout</a>
                          </li>
                   </ul>      
                   <hr/>
                   <h2>Add New Enquiry</h2>
                   <font color='red'>
			            <p th:text="${errMsg}"></p>
		            </font>
	                <font color='green'>
			           <p th:text="${succMsg}"></p>
		            </font>                   
            <form th:action="@{/addEnq}"  th:object="${enquiry}"  method="post" >
               <table>
				<tr>
					<td>Name:</td>
					<td><input type="text" th:field="*{name}" name="name" required> 
					         <input type="hidden" th:field="*{enqId}" name="enqId" required> 
					 </td>
				</tr>
				<tr>
					<td>Phno : </td>
					<td><input type="number" th:field="*{sphno}" name="sphno" required> </td>
				</tr>
				<tr>
					<td>Class Mode : </td>
					<td><select th:field="*{classMode}" name="classMode">
							<option value="">-Select-</option>
							<option value="online">Online</option>
							<option value="classroom">Classroom</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Course : </td>
					<td><select th:field="*{courseName}" name="courseName">
							<option value="">-Select-</option>
							<option value="java">Java</option>
							<option value="python">Python</option>
							<option value="devops">DevOps</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Status : </td>
					<td><select th:field="*{enqStatus}" name="enqStatus">
							<option value="">-Select-</option>
							<option value="open">Open</option>
							<option value="enrolled">Enrolled</option>
							<option value="lost">Lost</option>
						</select>
					</td>
				</tr>
				<tr>
					<td> </td>
					<td>
						<input type="submit" value="Save" class="btn btn-primary" />
					</td>
				</tr>
			</table>
        </form>  
     </div>             
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
